body {
    margin: auto;
}

main {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* background-position: ; */
    /* background-size: px; */
    /* align-items: center; */
    /* opacity: 20%; */
}

#heading {
    text-shadow: 2px 3px 3px gray;
    text-align: left;
    font-size: 30px;
}

.btn {
    padding: 10px 15px;
    /* margin: 5px; */
    color: black;
    font-weight: bold;
    font-size: large;
    background-color: yellow;
    border-radius: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.title {
    display: grid;
    justify-content: space-evenly;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}

.box {
    padding: 20px;
    gap: 10px;
    border: 5px solid salmon;
    border-radius: 10px;
    box-shadow: 2px 3px gray;
    /* text-align: center; */
    /* background-color: honeydew; */
}

/* .box:hover {
    background-color: aquamarine;
    /* opacity: 40%; */
/* color: aqua; */
/* font-size: 20px;
} */

*/ h2 {
    font-size: 30px;
    text-shadow: 3px 3px 3px gray;
    /* text-align: justify; */
}

#heading2 {
    text-align: center;
    /* align-items: center; */
}

img {
    size: 200px;
}