#thead {
    color: cornflowerblue;
}

table {
    border: 5px solid cornflowerblue;
}

tr {
    /* border: 2px solid saddlebrown;
     */
    padding: 10px;
}

td {
    padding: 10px;
}

#btn {
    padding: 10px;
    background-color: lightgreen;
    font-size: 15px;
    border-radius: 5px;
}

#btn:hover {
    font-size: 20px;
}



#sendRequest {
    padding: 10px;
    background-color: lightgreen;
    font-size: 15px;
    border-radius: 5px;
}

#gn {
    padding: 10px;
    background-color: lightyellow;
    font-size: 15px;
    border-radius: 5px;
    margin: 10px 5px;
}

#ch {
    padding: 10px;
    background-color: lightgoldenrodyellow;
    font-size: 15px;
    border-radius: 5px;
}